{
        "VK": {
                "APIkey": "{{ vk_api_key }}",
                "GroupID": "{{ vk_groupid }}"
        },
        "TG": {
                "API": "{{ tg_api_key }}"
                "Friends": [{{ tg_user_id }}],
                "Channel": {{ tg_channel }}
        },
        "StatusFile": "status",
        "Save": 10,
        "PollInterval": 5
}
